<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Welcome</p>

   <b>EMPLOYEE NUMBER:</b><p th:text="${Employee.getEmployeeNo()}" /> 
    <b> FIRST NAME:</b><p th:text="${Employee.getFirstName()}" />
     <b>LAST NAME :</b> <p th:text="${Employee.getLastName()}" />
      <b>GENDER :</b> <p th:text="${Employee.getGender()}" />
       <b> SALARY:</b> <p th:text="${Employee.getSalary()}" />  
    
</body>
</html>